<div class="">
  <div class="space-y-4">
    <h3 class="text-lg font-medium">Widget Settings</h3>

    <div class="flex items-center justify-between">
      <label hlmLabel
        >Show widget header on hover
        <hlm-switch
          hlm
          [checked]="settings().showDragHandlesOnHover"
          (changed)="onToggleHeaderOnHover($event)"
        />
      </label>
    </div>
  </div>
  <p class="text-md mb-2 font-semibold">
    This section is under development. Have ideas or feature requests?
  </p>
  <p class="mb-2 text-base">
    Visit our
    <a
      href="https://github.com/devconinck/webtiles"
      target="_blank"
      class="text-blue-600 underline hover:text-blue-800"
      >GitHub repository</a
    >
    to:
  </p>
  <ul class="ml-6 list-disc">
    <li class="mb-1">Submit feature requests</li>
    <li class="mb-1">Open issues</li>
    <li class="mb-1">Contribute to the project</li>
  </ul>
</div>
